* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.pets-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}